// ?fonts
$font-main: 'KoHo', sans-serif;
$font-sup-en: 'Gloria Hallelujah', cursive;
$font-sup-ru: 'Literata', serif;
// ?main colors
$bgcolor-main: #ba0f30;
$border-color: #ba0f30;
// ?btn color
$btn-bg-color: #ba0f30;
$btn-color: #fff;
$btn-bg-color-hover: #fff;
$btn-color-hover: #ba0f30;
// ?card colors
$card-bg-main: #ba0f30;
$card-bg-hover: #f5deb3;
$card-color-main: #f5deb3;
$card-color-hover: #ba0f30;
body {
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-main;
    -webkit-overflow-scrolling: touch;
}
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
p {
    padding: 50px 0;
    filter: drop-shadow(1px 1px 2px black);
}
img {
    width: 100%;
    height: 100%;
}
.container {
    padding: 20px;
}
.hidden {
    overflow: hidden;
}
.disabled {
    display: none;
}
.bg-span {
    padding: 0 10px;
    background-color: $bgcolor-main;
    color: wheat;
}

.gallery-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 145px;
    max-width: 200px;
    margin: 20px auto 20px auto;
    border-radius: 15px;
    background-color: rgba(186, 15, 49, 0.8);
    border: 1px solid #ffffff1a;
    color: #fff;
    filter: drop-shadow(1px 2px 3px black);
    font-size: 1.7rem;
    text-decoration: none;
    animation: scale 2s infinite;
    transition: 0.2s ease;
}
.gallery-link:hover {
    background-color: $btn-bg-color-hover;
    color: $btn-color-hover;
}

.arrow-to-top {
    position: fixed;
    right: 10px;
    bottom: 114px;
    width: 45px;
    height: 45px;
    background-image: url(../img/arrow-to-top-svg.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
    background-color: rgba(186, 15, 49, 0.5);
    border: 1px solid #ffffff1a;
    -webkit-backdrop-filter: blur(30px);
    color: #fff;
    filter: drop-shadow(1px 2px 3px #000);
    transition: 0.5s;
    animation: fromHide 0.3s ease;
}
.arrow-hide {
    transition: 0.5s;
    opacity: 0;
}
@keyframes scale {
    0% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1.05);
    }
}
@keyframes fromHide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes toHide {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
/* header */
#header {
    height: 100%;
    background-image: url('../img/header-human.png');
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;

    .header__intro {
        /* padding-top: 75px; */
        background-image: url('../img/header-wave-full.png');
        background-repeat: no-repeat;
        /* background-position-y: 75px; */

        background-size: 100%;
    }
    .header__title {
        background-image: url('../img/gif-eye.gif');
        background-repeat: no-repeat;
        background-position-x: 90%;
        padding-top: 100px;
        text-align: center;
    }
    .title {
        color: #000;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 1rem;
    }
    // *TODO: fix font-family,font-size
    .header__subtitle-ru {
        font-family: $font-sup-ru;
    }
    .header__subtitle-en {
        font-family: $font-sup-en;
    }
    .header__subtitle {
        color: white;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
        margin-top: 20px;
        padding: 5px;
    }
    p {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
}
.navigation {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000;
    z-index: 100;
    .navigation__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    .navigation__item {
        transition: 0.2s ease;
    }
    .navigation__link {
        display: block;
        transition: 0.2s ease;
    }
    .navigation__item:hover {
        opacity: 0.8;
    }
}
/* main */
.main-ru {
    font-family: $font-sup-ru;
}
.main-en {
    font-family: $font-sup-en;
}
#main {
    background-color: #2f2440;
    background-image: url('../img/main-wave-3s.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    padding-top: 50px;
    .gallery__header {
        border-radius: 15px;
        background-color: rgba(186, 15, 49, 0.5);
        border: 1px solid #ffffff1a;
        -webkit-backdrop-filter: blur(30px);
        color: #fff;
        filter: drop-shadow(1px 2px 3px #000);
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .gallery__title {
        color: #fff;
        filter: drop-shadow(1px 2px 3px black);
        font-size: 1.7rem;
        text-align: center;
        position: relative;
        z-index: 10;
    }
    .gallery__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: stretch;
        gap: 15px;
        margin-right: 50px;
    }
    .gallery__item {
        background: rgb(47 36 64 / 25%);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        text-align: center;
        color: wheat;
        margin-top: 50px;
        font-size: 1.1rem;
        transition: 0.2s ease;
        line-height: 1.3;
    }
    .gallery__item-title {
        padding: 10px;
        font-weight: 500;
        line-height: 1;
    }
    .gallery__item-image {
        border-radius: 30px;
        cursor: pointer;
    }
    .gallery__item-subtitle {
        font-weight: 500;
    }
    .gallery__item-price {
        font-weight: 600;
    }
    .gallery__item-price.orange {
        color: #ff8c00;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 5px;
        border-top: 1px solid black;
    }
    .gallery__item:hover {
        background-color: $card-bg-hover;
        color: $card-color-hover;
        transform: scale(1.02);
        z-index: 1;
    }
    .gallery__button-ru {
        font-family: $font-sup-ru;
    }
    .gallery__button-en {
        font-family: $font-sup-en;
    }
    .gallery__button {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .gallery__button a {
        display: flex;
        padding: 10px 10px;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}
/* GALLERY-HTML */
.gallery__header {
    .gallery__list-title {
        font-size: 2rem;
        color: #fff;
    }
    .gallery__list-items {
        padding: 10px 0 0 35px;
    }
    .gallery__list-item {
        color: white;
        font-size: 1.8rem;
        margin-top: 10px;
    }
    .gallery__list-link {
        color: #fff;
        text-decoration-color: $bgcolor-main;
    }
}
.category__title {
    font-size: 2.3rem;
    color: #fff;
}
.bm-top-50 {
    margin-top: 50px;
}
/* loader */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bgcolor-main;
    background-image: url('../img/gif-eye.gif');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: hideLoader 4s;
    transition: 4s ease;
}
@keyframes hideLoader {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
/* modal */
/* Style the Image Used to Trigger the Modal */
.myImg {
    cursor: pointer;
    transition: 0.2s;
}
.myImg:hover {
    transform: scale(1.02);
    filter: drop-shadow(1px 2px 3px black);
}
/* The Modal (background) */
.modal {
    /* margin-top: 70px; */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    z-index: 2000;
    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 65%;
        height: auto;
        max-width: 700px;
        pointer-events: none;
    }
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #fff;
        padding: 10px 0;
        height: 150px;
        font-size: 2rem;
    }
    /* Add Animation - Zoom in the Modal */
    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
        font-size: 2rem;
    }
    @keyframes zoom {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
}
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* footer */
#footer {
    background-color: #292929;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 44px;
}
/* media */
@media only screen and (max-width: 400px) {
    .header__title {
        background-size: 30%;
        background-position-x: 90%;
    }
}
@media only screen and (min-width: 400px) {
    .gallery-link {
        min-width: 180px;
        max-width: 190px;
    }
    .header__title {
        background-size: 30%;
        background-position-x: 95%;
    }
    .header__subtitle {
        padding-top: 20px;
    }
}
@media only screen and (min-width: 500px) {
    .header__title {
        padding-top: 150px;
    }
    #header .header__title .title {
        font-size: 5.625rem;
    }
}
@media only screen and (min-width: 600px) {
    .header__title {
        background-size: 30%;
    }
    .gallery__title {
        font-size: 2rem;
    }
    #main .gallery__items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 670px) {
    .close {
        top: 0;
        right: 10px;
    }
}
@media only screen and (min-width: 700px) {
    .header__title {
        padding-top: 180px;
        background-size: 30%;
    }
    .header__subtitle {
        max-width: 60%;
    }
    #main .gallery__items .gallery__item {
        font-size: 1.3rem;
    }
    .title {
        font-size: 7.6rem;
        text-align: center;
    }
    .orange {
        font-size: 1.6rem;
    }
}
@media only screen and (min-width: 1000px) {
    .gallery__title {
        font-size: 3.5rem;
    }
    #main .gallery__items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
    }
    .gallery__list-title {
        font-size: 3rem !important;
    }
    .gallery__list-item {
        font-size: 2rem !important;
    }
    .modal-content {
        max-width: 900px;
    }
}
@media only screen and (min-width: 1200px) {
    .navigation {
        opacity: 0.85;
        border-bottom: 1px solid silver;
    }

    .navigation {
        top: 0;
        bottom: inherit;
    }

    .header__subtitle {
        max-width: 580px;
        margin: 0 auto;
    }
    #footer {
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1241px) {
    .gallery__list-title {
        font-size: 3rem !important;
    }
    .gallery__list-item {
        font-size: 2.5rem !important;
    }
}
@media only screen and (min-width: 1555px) {
    #header {
        background-position-x: 10%;
        background-position-y: 70%;
    }
}
